@page "/login"
@inject IAuthService _authService
@inject ISendVerifyCodeService SendVerifyCodeService
@inject IStringLocalizer<Resource> _localizer
@inject ILocalStorageService _localStorageService
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@using System.ComponentModel.DataAnnotations
@using Ultimate.WebApp.DTO
<PageTitle>Login</PageTitle>
<MudOverlay Visible="isVisible" DarkBackground="true" ZIndex="9999">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>
<style>
    .ju{
        height: 88vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center
    }
    .fontTitle {
    @font_Title
    }
    .fontContent{
    @font_Content
    }
</style>
<div class="ju">
    <MudGrid Justify="Justify.Center">
        <MudItem sm="7" md="6" xs="11">
            <MudPaper Class="py-5" Elevation="5" Style="background-color:#424242;box-shadow:9px 8px 200px -13px #4aa47e">
       
<MudGrid Spacing="0" Class="mt-5" Justify="Justify.Center">
    @*<LogoPage />*@
    <MudItem sm="8" xs="11" md="7" Class="mt-7">

                        <MudText Style="color:#c8cacd" Typo="Typo.h5" Class="fontContent" Align="Align.Center">@_localizer["lbl_Welcome"]</MudText>
                        <MudForm Class="mt-16" @bind-IsValid="@success">
                            <MudTextField Style="color:#c8cacd" AdornmentColor="Color.Secondary" Class="fontContent" Immediate=true @bind-Value=Email Placeholder="@_localizer["lbl_Email"]" T="string" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Email" Required=true RequiredError="هذا الحقل مطلوب"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage=@_localizer["lbl_EmailIsIncorrect"]})"></MudTextField>
                            <MudTextField Style="color:#c8cacd" AdornmentColor="Color.Secondary" Class="fontContent" Immediate=true @bind-Value=Password Placeholder="@_localizer["lbl_Password"]" T="string" Adornment="Adornment.Start" Required=true RequiredError="@_localizer["msg_Required"]" InputType="@PasswordInput" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick"></MudTextField>
                </MudForm>
                        <MudButton OnClick="HandleLogin" Disabled="@(!success)" Variant="Variant.Filled" FullWidth Color="Color.Primary" Class="fontContent mt-5" Style="font-weight:200;font-size:18px;color:#c8cacd">@_localizer["lbl_login"]</MudButton>
                        <span class="text-danger fontContent" style="visibility:@error">@message</span>

                        <div class="mt-5 d-flex justify-center align-center fontContent" style="font-size:17px;color:#c8cacd">
                    @_localizer["lbl_Don'tHaveAccount"]
                            <MudElement HtmlTag="a" Class="fontTitle"
                        Style="color:#4aa47e;font-weight:200;font-size:18px"
                                href="/register">
                        @_localizer["lbl_register"]
                    </MudElement>
                </div>

    </MudItem>

</MudGrid>
        </MudPaper>
        </MudItem>
    </MudGrid>

    </div>

@code {
    private bool isVisible;
    bool success;
    protected string message = String.Empty;
    private string returnUrl = string.Empty;
    string selectedCulture = System.Globalization.CultureInfo.CurrentCulture.TextInfo.CultureName;
    string font_Title;
    string font_Content;

    public string Email { set; get; } = "";
    public string Password { set; get; } = "";
    bool isShow;
    bool error;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    protected override void OnInitialized()
    {
        if (selectedCulture.Contains("en"))
        {
            font_Content = "font-family:DROID;";
            font_Title = "font-family:Forte;";
        }
        else
        {
            font_Content = "font-family:Noto Kufi Arabic;";
            font_Title = "font-family:Noto Kufi Arabic;";
        }
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var url))
        {
            returnUrl = url;
        }
    }
	
    void ButtonTestclick()
    {
    @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private async Task HandleLogin()
    {
        isVisible = true;
        await Task.Delay(1000);

        UserLoginModel userLogin = new UserLoginModel()
        {
            EmailAddress = Email,
            Password = Password
        };

        var result = await _authService.Login(userLogin);
        if (result.Code != 0)
        {
            if (result.Message == "Invalid username or password")
            {
                isVisible = false;
                message = _localizer["msg_LoginError"];
                StateHasChanged();
                return;
            }
            if (result.Message == "User account is inactive")
            {
                isVisible = false;
                var res = JsonConvert.DeserializeObject<UserDto>(result.Content.ToString());
                int userId = res.Id;
                string email = res.Email;
                Console.WriteLine(userId);
                await SendVerifyCodeService.Create(userId);
                StateHasChanged();
                _navigationManager.NavigateTo($"/verification/{userId}/{email}");

            }
            else
            {
                message = _localizer["msg_CheckOnline"];
                isVisible = false;
                error = true;
                StateHasChanged();
                return;
            }
        }
        

        var token = result != null && result.Code == 0 ? JsonConvert.DeserializeObject<JwtTokenModel>(result.Content.ToString()) : null;
        if (token is not null)
        {
            isVisible = false;
            token.IssueDate = DateTime.Now;
            message = string.Empty;
            await _localStorageService.SetItemAsync<JwtTokenModel>("accessToken", token);
            await _authenticationStateProvider.GetAuthenticationStateAsync();
            StateHasChanged();
            _navigationManager.NavigateTo("/accountPortal");
        }
        else
        {
            isVisible = false;
            StateHasChanged();
            message = $"Error in login. Api response: {result.Content.ToString()}";
        }
    }
}
